<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>智能导诊</title>
    <link rel="stylesheet" href="plugs/weui/weui.min.css"/>
</head>
<body>
<div id="app">
    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">诊断中</p>
        </div>
    </div>
    <div style="display: none;" id="dialog1">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误提示</strong></div>
            <div class="weui-dialog__bd" id="error1"></div>
            <div class="weui-dialog__ft">
                <a href="javascript:$('#dialog1').hide()" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
            </div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item" style="padding: 20px">
            <div class="placeholder">
                <button class="weui-btn weui-btn_primary" onclick="window.history.back(-1)">上一步</button>
            </div>
        </div>
        <div class="weui-flex__item" style="padding: 20px">
            <div class="placeholder">
                <button class="weui-btn weui-btn_primary" v-on:click="next()">继续诊断</button>
            </div>
        </div>
    </div>

    <div class="weui-cells__title"><i class="weui-icon-success-no-circle"></i>诊断列表（<span
            v-text="selectSyms.length"></span> 个症状）
    </div>
    <div class="weui-cells">
        <div class="weui-cell" v-for="x in selectSyms">
            <div class="weui-cell__bd">
                <span style="color: #ec8b89" v-text="x">空</span>
            </div>
        </div>
    </div>
    <div v-if="symList.length!=0">
        <div class="weui-cells__title"><i class="weui-icon-info-circle"></i></i>您是否有以下症状？点击加入列表！</div>
        <div class="weui-cells">
            <div class="weui-cell" v-for="x in symList" v-on:click="add(x)">
                <div class="weui-cell__bd">
                    <span style="color: #586c94" v-text="x"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-footer weui-footer_fixed-bottom">

        <p class="weui-footer__text">Copyright © 2017-2018 </p>
    </div>
</div>
<script src="plugs/jquery-2.2.4.js"></script>
<script src="plugs/vue/vue.v2.1.3.js"></script>
<script src="js/conmon.js"></script>
<script src="js/recommend.js"></script>

</body>
</html>